extends layout

block content
	div.container
		div#chatWrap
			h4 채팅목록	
			div.panel.panel-primary
				div.panel-heading
					h3.panel-title
				div.panel-body(style='height: 400px; overflow: auto;')
				div.panel-footer
					div
						input.form-control#content(type='text')
						
	script.
		var socket = io.connect();
		
		$(document).ready(function() {
			// 한사람에게 메시지 받기
			socket.on('broadcastMsg', function(data) {
				viewChatRoom(data.fromId);
				$('.panel-body').append('<p class="msg-bubbles"><span class="bg-warning">' + data.fromId + ' : ' + data.content + '</span></p>');
				$('.panel-body').scrollTop(370);
			});
			
			// 메시지 입력
			$("#content").keypress(function(e) {
				if(e.keyCode == 13) {
					var to 	 	= $('.panel-title').html();
					var content = $('#content').val();

					if(content == '') {
						alert('메시지 내용을 입력해 주세요');
						$('#content').focus();

						return false;
					}

					$('.panel-body').append('<p class="text-right msg-bubbles"><span class="bg-info">#{id}' + ' : ' + content + '</span></p>');

					$.ajax({
						url: '/message/save',
						type: 'get',
						dataType: 'json',
						data: {to: to, content: content},
						success: function(data) { 
							$('#content').val('');
							socket.emit('sendMsg', {fromId: '#{id}', toId: to, content: content});
						}
					});
				}
			});
		});