doctype html
html
	head
		meta(name='viewport' content='initial-scale=1.0')
		title 발표날은10월13일
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
		script(src='https://cdn.socket.io/socket.io-1.4.5.js')
		script(src='https://code.jquery.com/jquery-2.2.4.js')
		style.
			body {font-family: 'Malgun Gothic';}
			tbody {border-bottom: 1px solid #ddd;}
			th, td {text-align: center;} 
			a, .cursor {cursor: pointer;}
			h1 {font-weight: bold;}
			.list {margin-top: 10px;}
			.btn-right-margin {margin-right: 5px;}
			.left-margin {margin-left: 10px;}
			.msg-bubbles {margin: 15px 0px;}
			.msg-bubbles span {padding: 5px 10px; border-radius: 10px;}

			#chatTable tr td, #chatTable tr td span {line-height: 80px;}
			#chatTable tr td:nth-child(1) {width: 5%;}
			#chatTable tr td:nth-child(2) {width: 20%;}
			#chatTable tr td:nth-child(3) { 
				text-align: left;
				font-size: 20px; 
			}
			#chatTable tr td:nth-child(4) { 
				text-align: right;
				padding-right: 20px;
			}
			#chatTable img { 
				width: 50px; 
				height: 50px; 
				background-color: #eee;
			}
	body
	block content
